.main {
    margin-top:100px;
    display:block;
    
}
.input-box{
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:24px;
    line-height:24px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    border:#dfe1e5 solid 1px;
}
.logo{
    width:300px;
    display:block;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    
}
.buttons {
    margin-top:25px;
    /*text-align:center;*/
    display:flex;
    justify-content:center;
}
.googlesearch {
    
    
    margin-right:15px;
    background:#dfe1e5;
    border:1px solid  #dfe1e5;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:5px;
    font-size:15px;
}
.lucky{
   
    
    background:#dfe1e5;
    border:1px solid  #dfe1e5;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:5px;
    font-size:15px; 
}